faster-whisper==1.1.1
tqdm==4.66.4
ffmpeg-python==0.2.0
langcodes==3.3.0
transformers==4.53.1
torch==2.7.1
numpy==2.3.1
nltk==3.9.1
huggingface_hub==0.33.2
sentencepiece==0.2.0
sacremoses==0.1.1
deep-translator==1.11.4
# In case you need to translate from Thai to other languages
# thai-segmenter==0.4.2