faster-whisper>=1.2.1
tqdm>=4.66.4
ffmpeg-python>=0.2.0
langcodes>=3.5.1
transformers>=5.6.2
torch>=2.11.0
numpy>=2.4.4
nltk>=3.9.4
huggingface_hub>=1.11.0
sentencepiece>=0.2.1
sacremoses>=0.1.1
deep-translator>=1.11.4
# In case you need to translate from Thai to other languages
# thai-segmenter>=0.4.2