name: Setup

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install application
      run: |
        pip install --no-deps EasyNMT==2.0.2
        pip install -e .
    - name: Check that package was installed successfully
      run: |
        faster_auto_subtitle -h
